#delivery_address_summary{
  background-color: white;
  border: 1px solid grey;
  width:50%;
  height:150px;
  margin-left: 5%;
  margin-top: 8%;
  
}

#contact_info_title, #delivery_address_title, #billing_address{
  font-family:arial;
  color:rgb(93, 88, 88);
  margin-left: 5px;
}
#contact_info_title{
  margin-top:-0.5px;
}

#delivery_address_title{
  margin-top: 5%;
}

#billing_address{
  margin-top:8%;
}

#payment_method{
  display:flex;
  flex-direction: column;;
  margin-top: 5%;
  margin-left: 5%;
  font-family: arial;
}

label{
  border: 1px solid grey;
  width: 50%;
  padding: 20px;
}

#right_section{
  position:absolute;
  background-color: rgba(32, 6, 48, 0.73);
  height:1000px;
  width:530px;
  margin-left: 60%;
  margin-top:-42%;
 }
 
 
 #chosen_book{
   background-color: black;
   height: 400px;
   width: 400px;
   margin-left: 12%;
   margin-top: 35%;
 } 
 
 #image{
  position:absolute;
  color:white;
  font-size: 80px;
  font-family: arial;
  margin-left: 15%;
  margin-top: 25%;
}

 #payment_information{
   font-size: 18px;
   font-family: arial;
   color: white;
   border: 1px solid white;
   width: 80%;
   height: 25%;
   margin-left: 9.5%;
   margin-top: 5%;
 }
 
 #gbp{
   font-size: 16px;
   margin-top: 35%;
 }
 
 #item_total_section{
 display:flex;
 flex-direction: row;
 }
 
 #item_total{
   margin-left:3%;
 }
 
 #item_total_gbp,#actual_amounts{
 display:flex;
 flex-direction: row;
 width:10%;
 height:40px;
 }
 
 #item_total_gbp{
 margin-left: 55%;
 }
 
 #actual_amounts{
   width: 40px;
   margin-top:-3px;
   margin-left: 12px;
 }
 
 #actual_item_amount,#actual_size_amount{
   color:white;
   font-size: 20px;
 }
 
  #shipping_section{
   display: flex;
   flex-direction: row;
   margin-top:-1%;
   margin-left: 3%;
  }
 
  #shipping{
   margin-left:3%;
  }
 
  #shipping_location{
   font-size: 15px;
   margin-left: -10%;
   margin-top:-10%;
  }
 
  #shipping_gbp{
   display:flex;
   flex-direction: row;
   margin-left: 56.5%;
  }
 
  #shipping_amount{
   font-size: 20px;
   margin-left: 10px;
   margin-top: 27%;
  }
 
 #payment_divider{
 border: 0.5px solid white;
 width: 95%;
 margin-top:2%;
 margin-left: 2%;
 }
 
  #total_section{
   display: flex;
   flex-direction: row;
   margin-top:3%;
  }
 
 #total{
  margin-left:3%;
  }
 
  #total_gbp{
   display: flex;
   flex-direction: row;
   margin-left: 70%;
  }
 
  #total_amount{
   font-size: 20px;
   margin-left: 10px;
   margin-top: 27%;
  }