body{
  margin:0;
  padding:0;
  overflow-x:hidden;
}

.black_background{
position:relative;
margin-left:-2%;
margin-top:-1%;
width: 1461px;
height: 365px;
background: #000000;
}

#quote{
  position:absolute;
  margin-top: 1%;
  width:100%;
}

#beginning_quote{ 
margin-left: 20%;
margin-top: 8%;
font-family: Baskerville;
font-size: 48px;
color: #995DBE;
animation: animate;
}

#beginning_quote::first-letter{
  font-size: 70px;
}

#ending_quote{
margin-left: 50%;
margin-top: -3%;
font-family: Baskerville;
font-size: 48px;
color: #DDA5FE;
}

#fadein_1{
  animation: fadeIn 4s;
}

@keyframes fadeIn{
0%{opacity:0;}
100%{opacity:1;}
}

#fadein_2{
  animation: fadeIn 4s forwards;
  animation-delay: 1.5s;
  opacity: 0%;
}

@keyframes fadeIn{
0%{opacity:0;}
100%{opacity:1;}
}

#intro_images{
  position:relative;
  display:flex;
  justify-content: space-between;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 4%;
}

#introimg_1, #introimg_2, #introimg_3{
  animation: fadeIn 4s forwards;
  opacity: 0%;
}



#nav_bar{
  position: relative;
  margin-top: 10%;
  margin-left:-0.5rem;
  width:1445px;
  display: flex;
  justify-content: space-evenly;
  background-color:white;
  height:13%;
  position:sticky;
  top:0;
  z-index:3;
} 

#about, #service, #faqs, #contact{
  text-decoration: none;
  font-size: 20px;
  font-family: Baskerville;
  color:black;
  position: relative;
  margin-top:0%;
}

#home_button{
background-color:black;
width:25px;
height:10px;
border-radius:50%;
margin-top:26px;
}

.about_section{
  position:relative;
  text-align: center;
  color:black;
  margin-top: 10%;
  font-family:Baskerville;
  font-size: 30px;
  line-height: 3rem;
}

#italic{
  font-size: 50px;
  margin-top: 5%;
}
#about_2{
  margin-top: 5%;
}


.traditional_section{
  background-color:rgba(36, 2, 56, 0.45);
  width: 848px;
  height: 524px;
  margin-left: 21%;
  margin-top:25%;
}

.ornamented_section{
background-color: rgba(32, 6, 48, 0.73);
width: 848px;
height: 524px;
margin-left: 21%;
margin-top: 20%;
}


#traditional_image{
 position: absolute;
 margin-left:-3%;
 margin-top:-5%;

}
 
#ornamented_image{
  position:absolute;
  margin-left: -25%;
  margin-top: -5%;
}

#traditional_image:hover, #ornamented_image:hover{
  width:425px;
}

#traditional_title{
  position:absolute;
  font-size: 100px;
  margin-left: 20%;
  margin-top: -17%;
  padding:10%;
}

#traditional_p{
  font-family:Baskerville;
  margin-top: 8%;
  margin-right:2%;
  font-size: 25px;
  float: right;
  text-align: right;
  line-height: 50px;
}

#ornamented_title{
  position:absolute;
  font-size: 100px;
  margin-left: -8%;
  margin-top: -20%;
  color:black;
  padding: 3%;
}

#ornamented_p{
  
  font-family:Baskerville;
  color:white;
  margin-left: 2%;
  margin-top:33%;
  font-size: 25px;
  float: left;
  text-align: left;
  line-height: 50px;
  
}

#lorem_1{
  margin-top: 12%;
  margin-right: 3%;
}

#lorem_2{
  color:white;
  margin-top: -6%;
  margin-left: 3%;
}

#custom_button{
position:absolute;
background-color: rgb(85, 10, 34);
width: 468.11px;
height: 133px;
margin-top: 10%;
margin-left: 33%;
border-radius: 15px;
}

#custom_p{
  font-family:Baskerville;
  color:white;
  font-size: 40px;
  margin-left: 31%;
  margin-top:10%;
}

#review_section{
  position: relative;
}

#quote1_parallax{
 position:absolute;
 z-index:-1;
 margin-left:56.6%;
 margin-top:-60%;
}


#review_1{
  margin-top: 40%;
}

#review_2{
  margin-top:-5%;
  margin-left: 62%; 
  z-index:3;
} 

#review_3{
  margin-top:0%;
  margin-left: 3%;
}

#quote2_parallax{
  position:absolute;
  z-index:-1;
  margin-left:23%;
  margin-top:-40%;
}

#quote_mark_2{
  width:450px;
}

#review_4{
  margin-top: 15%;
  margin-left: 52%;
}

#review_1_p,#review_2_p,#review_3_p,#review_4_p{
  font-family: Baskerville;
  font-size: 48px;
  color:black;
}


#review_1_p{
  width:50%;
  text-align: center;
  margin-left:25%;
  margin-top:0%;
  z-index:1;
}

#review1_parallax{
  position:absolute;
  margin-left:0%;
  margin-top:-60%;
}



#review_2_p{
  margin-left:55%;
  margin-top:0%;
}

#review2_parallax{
  margin-top:-40%;
}

#review_3_p{
  width:50%;
  text-align: center;
  margin-left:35%;
  margin-top:0%;
}

#review3_parallax{
  margin-top:-70%;
}

#review_4_p{
margin-left: 43%;
margin-top: 0%;
}

#review4_parallax{
  margin-top: -60%;
}

#contact_section{
position:relative;
background-color: black;
width: 1445px;
height: 672px;
margin-top: 15%;
margin-bottom:-2%;
}

#contact_title{
  position:absolute;
  font-family: Baskerville;
  color:white;
  font-size:40px;
  position:absolute;
  margin-top: 5%;
  margin-left:40%;
}

#first_name_input{
  position:absolute;
  background-color: black;
  border: black;
  border-bottom: 2px solid white;
  color:white;
  font-size:2rem;
  margin-left:6%;
  margin-top:10%;
  width: 35%;
  padding:20px;
}

#first_name_input::placeholder,
#last_name_input::placeholder,
#email_input::placeholder {
  transform: translateY(15px);
}


#last_name_input{
  position:absolute;
  background-color: black;
  border: black;
  border-bottom: 2px solid white;
  color:white;
  font-size:2rem;
  margin-left:50%;
  margin-top:10%;
  width:41%;
  padding:20px;
}

#email_input{
  position:absolute;
  background-color: black;
  border: black;
  border-bottom: 2px solid white;
  color:white;
  font-size:2rem;
  margin-left:6%;
  margin-top:16%;
  width: 85%;
  padding:20px;
}

textarea{
  position:absolute;
  border:1px solid white;
  background-color:black;
  color:white;
  font-size: 1.5rem;
  margin-top:25%; 
  margin-left:6%;
  height:20%;
  padding:5%;
  width:70%;
}


#first_name_input:focus,
#last_name_input:focus,
#email_input:focus, 
textarea:focus {
    outline: none;
}

#submit_button{
  position:relative;
  transform: rotate(90deg);
  background-color:black;
  border-color: black; 
  color:white;
  width: 19.5%;
  height:15%;
  margin-left:81%;
  margin-top:31.5%;
}

#submit_button:hover{
  background-color: white;
  color:black;
}

#SEND{
  font-family: Baskerville;
  transform:rotate(270deg);
  font-size: 30px;
  margin-top:-89.5%;
}

#S,#E,#N,#D{
 width: 30px;
}
#S,#E,#N{
  font-size:34px;
}

#about_top, #traditional_top{
  width: 0%;
  height:10%;
  background-color:blue;
}

#hide{
  display: '';
 
}

#unhide{
  position:absolute;
  visibility: hidden;
  color:white;
  margin-top:15%;
  margin-left:30%;
}

#thank_you{
  font-size: 50px;
}

#response{
  font-family: Baskerville;
  font-size: 40px;
  margin-left: -8%;
  width:100%;
}


@media screen and (min-width:320px) and (max-width:480px){

  body{
    margin:0;
    padding:0;
    overflow-x:hidden;
  }

  .black_background{
    width: 440px;
    height: 300px;
  }

  #beginning_quote, #ending_quote{ 
    font-size: 25px;
    margin-top: 15%;
  }

  #beginning_quote{
    margin-left:6%;
  }

  #ending_quote{
    margin-left:25%;
  }
    
  #beginning_quote::first-letter{
      font-size: 30px;
  }

  #intro_images{
   height:80px;
   width: 80px;
   margin-left:8%;
  }
  
  #nav_bar{
      width: 105%;
      position:sticky;
      top:0;
      z-index:3;
  }

  #about, #service, #faqs, #contact{
    font-size: 16px;
  }

  .about_section{
    font-size: 25px;
    margin-top: 30%;
    }

    #italic{
      font-size: 35px;
    }
  
  .traditional_section, .ornamented_section{
    width:400px;
    height: 600px;
    margin-left: 1.5%;
    margin-top:40%;
  }

  #traditional_image{
    margin-left:0%;
  }

  #ornamented_image{
    margin-left:-97%;
  }

  #traditional_title, #ornamented_title{
    font-size: 20px;
    margin-left:5%;
    margin-top: 15%;
    margin-left: 15%;
  }
  
  #traditional_p, #ornamented_p{
    font-size: 16px;
    margin-top:90%;
    line-height: 15%;
    text-align: center;
  }

  #ornamented_p{
    margin-top: 120%;
  }
 
  #custom_button{
    width: 300px;
    height: 70px;
    margin-left:13%;
    margin-top: 20%;
    }
    
    #custom_p{
      font-size: 35px;
      margin-top:5%;
      margin-left:40%
    }


    #quote_mark_1{
      width:20%;

     }
     
  
  #review_1{
    width:40%;
    margin-left:-3%;
    margin-top:80%;
  }
  
  #review_2{
    width:50%;
    margin-top:15%;
    margin-left: 59%;
  } 
  
  #review_3{
    width:40%;
    margin-top: -30%;
    margin-left: 5%;
  }
  
  #quote2_parallax{
    width:30%;
  }
  
  #quote_mark_2{
   padding:10%;
  }
  
  #review_4{
    width:50%;
    margin-left: 25%;
    margin-top: -10%;
  }
  
  #review_1_p,#review_2_p,#review_3_p,#review_4_p{
    font-size: 25px;
  } 

  #review1_parallax{
    position:absolute;
    margin-left:0%;
    margin-top:-60%;
  }
  
  #review2_parallax{
    margin-top:-40%;
  }
  
  #review3_parallax{
    margin-top:-70%;
  }
  
  
  #review4_parallax{
    margin-top: -60%;
  }

#contact_section{
  width: 100%;
  }
  
  #contact_title{
    margin-left:25%;
  }
  
  #first_name_input{
    margin-left:0%;
    width: 10%;
  }

  #last_name_input{
    width:10%;
  }
  
  #email_input{
    margin-left:0%;
    margin-top: 25%;
    width: 25%; 
  }
  
  textarea{
    margin-top:50%; 
    margin-left:0%;
    width:30%;
  }

  #submit_button{
    margin-left:35%;
    margin-top:50%;
  }

};
