body{
  background-color: rgba(32, 6, 48, 0.73);
}

header{
  color:white;
  font-family: Baskerville;
  font-size: 100px;
  letter-spacing: 4.4rem; 
}

#main_image{
  width: 540px;
  height: 540px;
  margin-top: 5%;
  margin-left: 15%;
}

#main{
  margin-top: 10%;
}

.optional_images{
  display: flex;
  flex-direction: column;
  margin-bottom: 4.3%;
  width:138px;
  height:138px;
  opacity:0.7;
}

#option1{
  margin-top: -35%;
}

form{
  display: flex;
  flex-direction: column;
  margin-top: 19%;
}

#book_info{
  position:relative;
}

#title{
  position:absolute;
  width: 35%;
  margin-left: 60%;
  margin-top:-55%;
  padding: 10px;
}

#author, #book_genre{
  position:absolute;
  width: 23%;
  margin-left: 60%;
  margin-top:-51%;
  padding: 10px;
}

#book_genre{
  width:10%;
  margin-left: 85%;
}

#book_selection{
  position:relative;
  margin-top: -17%;
}

#book_size, #book_ornament{
  position:absolute;
  margin-left: 68%;
  margin-top: -30%;
  padding: 5px;
}

#book_ornament{
  margin-left: 80%
}


#payment_information{
  position:relative;
  background-color: white;
  border: 2px solid black;
  font-family: arial;
  font-size: 18px;
  width: 550px;
  height: 300px;
  margin-left: 60%;
  margin-top:-40%;
}

#gbp{
  font-size: 16px;
  margin-top: 35%;
}

#item_total_section{
display:flex;
flex-direction: row;
}

#item_total{
  margin-left:3%;
}

#item_total_gbp,#actual_amounts{
display:flex;
flex-direction: row;
width:10%;
height:40px;
}

#item_total_gbp{
margin-left: 60%;
}

#actual_amounts{
  width: 40px;
  margin-top:-3px;
  margin-left: 12px;
}

#actual_item_amount,#actual_size_amount{
  color:black;
  font-size: 20px;
}

 #shipping_section{
  display: flex;
  flex-direction: row;
  margin-top:-1%;
  margin-left: 3%;
 }

 #shipping{
  margin-left:3%;
 }

 #shipping_location{
  font-size: 15px;
  margin-left: -10%;
  margin-top:-10%;
 }

 #shipping_gbp{
  display:flex;
  flex-direction: row;
  margin-left: 62%;
 }

 #shipping_amount{
  font-size: 20px;
  margin-left: 10px;
  margin-top: 27%;
 }

#payment_divider{
position:absolute;
border: 0.5px solid grey;
width: 95%;
margin-top:2%;
margin-left: 2%;
}

 #total_section{
  display: flex;
  flex-direction: row;
  margin-top:3%;
 }

#total{
 margin-left:3%;
 }

 #total_gbp{
  display: flex;
  flex-direction: row;
  margin-left: 72%;
 }

 #total_amount{
  font-size: 20px;
  margin-left: 10px;
  margin-top: 27%;
 }

#checkout_button{
  position:absolute;
  background-color: rgba(85, 10, 34, 1);
  color:white;
  border: rgb(85, 10, 34);
  font-size:20px;
  height:20%;
  width: 50%;
  margin-left: 25%;
  margin-top: 3%;
}

#disclaimer{
  font-family: Arial;
  font-size: 18px;
  color:white;
  width: 100%; 
  margin-left: 0%;
  margin-top: 10%;
}